language: android

android:
  components:
    - tools
    - tools
    - platform-tools
    - build-tools-25.0.3
    - android-25

    - extra-android-m2repository

script:
   - ./gradlew build connectedCheck

sudo: false

jdk:
  - oraclejdk8