version: 2
jobs:
  build:

    working_directory: ~/convalida

    docker:
      - image: circleci/android:api-27-alpha

    steps:
      - checkout

      - run:
          name: Install Codecov
          command: sudo pip install codecov

      - run:
          name: Download dependencies
          command: ./gradlew androidDependencies

      - run:
          name: Build and execute unit tests
          command: ./gradlew build test jacocoTestReport --stacktrace

      - run:
          name: Send test reports to Codecov
          command: codecov

  test_api_v25:

     working_directory: ~/convalida
        docker:
            - image: circleci/android:api-26-alpha
        environment:
          JVM_OPTS: -Xmx3200m
        steps:
          - checkout

          - run:
              name: Accept licenses
              command: yes | sdkmanager --licenses || true

          - run:
              name: Setup emulator
              command: sdkmanager "system-images;android-25;google_apis;armeabi-v7a" && echo "no" | avdmanager create avd -n test -k "system-images;android-25;google_apis;armeabi-v7a"

          - run:
              name: Launch emulator
              command: export LD_LIBRARY_PATH=${ANDROID_HOME}/emulator/lib64:${ANDROID_HOME}/emulator/lib64/qt/lib && emulator64-arm -avd test -noaudio -no-boot-anim -no-window -accel on
              background: true

          - run:
              name: Wait emulator
              command: |
                # wait for it to have booted
                circle-android wait-for-boot
                # unlock the emulator screen
                sleep 30
                adb shell input keyevent 82

          - run:
              name: Run Tests
              command: ./gradlew connectedAndroidTest

workflows:
  version: 2
  build_test:
    jobs:
      - build
      - test_api_v25:
          requires:
            - build